.title {
	height: 50px;
	font: bold 20px '微软雅黑';
	text-align: center;
	color: #000;
}
.logo {
	width: 200px;
	margin-left: 50px;
	background-color: #2b3a42;
}
.tableBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
table {
	border-collapse: collapse;
}
th,td {
	border: 1px solid #000;
}
